<div class="modal-header">
    <h1>Upload Profile Pic</h1>
</div>

<div class="modal-body">
    <div id="uploadPhoto">
        <input class="uploadPhoto btn" type="file" ng-model="$ctrl.imageSelected" name="file" base-sixty-four-input required onload="onLoad" maxsize="500" accept="image/*">
    </div>
    <div ng-show="$ctrl.showUploadImage">
        <img ng-src="data:image/jpeg;base64,{{$ctrl.imageSelected.base64}}" width ="50%" height="50%">
    </div>
</div>

<div class="modal-footer">
    <div class="col-md-10 top-buffer">
        <button class="btn btn-primary pull-left" ng-click="$ctrl.uploadImage()" ng-disabled="$ctrl.imageSelected === ''">Upload</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancelModal()">Cancel</button>
    </div>
</div>
